<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='Hello!'">

<th:block layout:fragement="css">
    <link rel="stylesheet" th:href="@{/css/user/style.css}">
</th:block>

<div layout:fragment="content" class="container" style="background-color: white;">

    <br/><br/>
    <div class="py-`5` ml-2" id="pagebox">
        <div id="catetitle">
            <!-- -->
<!--            <h2 th:text="This is ${title} Page."><h2>-->
        </div>

        <th:block th:insert="item_fragements :: item_list(${itemList})"/>
    </div>
</div>

</html>