/*
모든 페이지에 적용할 공통 스타일
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: "Montserrat", "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sansserif;
    color: #000000;
    text-align: center;
}

.lead{
    color: white;
}

#header{
    background-color: white;
}

#wrapper {
    width: 980px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background-color: pink;
}



#logo{
    color: white;
    font-family: 'Oi', cursive;
}

#headlogo{
    margin-top: 50px;
    height: 280px;
}

#navlogo{
    font-size: 1.0em;
    font-weight: 700;
    margin-top: 25px;
    margin-right: 5px;
    margin-left: 20px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    text-align: left;
    font-weight: normal;
}

h1 {
    font-size: 4.0em;
    color: white;
    font-family: 'Oi', cursive;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 2.0em;
}

h4 {
    font-size: 1.8em;
}

h5 {
    font-size: 1.6em;
}

h6{
    font-size: 1.4em;
    font-weight: 500;
}

p {
    font-size: 1.4em;
}
.banner {
    text-align: center;
    color: gray;
}
.container {
    max-width: 1500px;
}

li{
    list-style:none;
}

.imgbox_middle {
    margin: 5px;
    padding: 7px;
    display: inline;
    width:200px;
    height:200px;
}

.codybox {
    border: 1px solid grey;
    display: inline;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.likeimgbox{
    writing-mode:vertical-lr;
    width: 100px;
    height: 100px;
}

.vertical-data{
    writing-mode:vertical-lr
}


#back{
    margin-left: 0;
    background-color: white;
}

#navbar{
    height: 70px;
}


#navp{
    text-align: center;
    font-weight: 700;
    font-size: 1.0em;
    margin-top: 7px;
    margin-left: 10px;
    /*margin-right: 10px;*/
    /*background-color: #474747;*/
    /*color: white;*/
    /*border-radius: 100px;*/
    /*box-shadow: 2px 2px gray;*/
}

#usernav{
    text-align: right;
    float: right;
}

#nav_left{
    margin-left: 20%;
}

#navbar_right{
    margin-top: 7px;
    display: inline;
    float: right;
    text-align: right;
    font-weight: 700;
    font-size: 1.0em;
    margin-left: 30%;
}

#carousel{
    width: 50%;
    height: 250px;
}


#pagebox{
    width: 1500px;
}


#logoutbtn{
    /*margin-top: 7px;*/
    background-color: white;
    color: grey;
    margin-left: 10px;
    font-weight: 600;
    font-size: 1.0em;
}

.component{
    text-align: center;
}

#component_img{
    width: 300px;
    height: 400px;
    margin: 15px 15px 15px -10px;
}

#component_info{
    text-align: center;
    margin-left: 40px;
}

#component_name{
    display: block;
    text-align: center;
}

#catetitle{
    margin-left: 360px;
    text-align: center;
    width: 50%;

}

#detailbox{
    margin-bottom: 50px;
}

#brandname{
    text-align: left;
    display: block;
}

#imgbox{
    width: 400px;
    height: 400px;
    margin: 20px;
    margin-bottom: 50px;
}

#nowimg{
    width: 400px;
    height: 500px;
}

#product_info{
    width: 450px;
}

#brandinfo, #codeinfo{
    display: inline;
}

#imgboxs_mini{
    text-align: center;
    width: 400px;
    height: 40px;
    margin-top: 130px;
}

.imgbox_mini{
    width: 40px;
    height: 40px;
    display: inline;
    margin: 5px;
    padding: 7px;
}

.mini{
    width: 40px;
    height: 40px;
    border: 1px solid lightgrey;
}

#product_img{
    margin-right: 20px;
}

#product_info{
    margin-top: 100px;
    margin-left: 5%;
    text-align: left;
}

#ic-like{
    display: inline;
}

#likecount{
    display: inline;
}

#likeinfo{
    display: inline;
}

#buyandcartbtn{
    margin-top: 20px;
}

#buybtn{
    padding: 10px;
    /*margin-top: 10px;*/
    margin-bottom: 0px;
    margin-right: 10px;
}

#cartbtn{
    display: inline;
    padding: 10px;
}

#cartform{
    margin-top: 5px;
    display: inline;
}


#codybox{
    text-align: center;
    display: inline;
}

.cody{
    display: inline;
    text-align: center;
    border: 1px solid grey;
    width: 100px;
    height: 100px;
}

#likelist_container{
    text-align: center;
}

#wishlist_table_box{
    text-align: center;
}

#wishlist_table{
    margin-left: 21%;
    text-align: center;
    width: 800px;
}