<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='Reset Password'">

<div layout:fragment="content">
    <div class="container">

        <div class="py-5 text-center">
            <h4><b>Reset Password</b></h4>
            <p class="lead" style="color: black;">Enter the password want to replace.</p>
            <hr class="col-12 my-2">
            <form th:action="@{/reset-password}" method="post">
                <input type="hidden" name="email" th:value="${email}">
                <br/>
                <input type="password" name="password">
                <br/>
                <button class="w-100 btn btn-dark btn" type="submit">Change Password</button>
            </form>
        </div>

    </div>
</div>
</html>