<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='Weather'">

<h1>Weather</h1>
<hr>
<div class="row">
    <table class="table table-bordered">
        <tr>
            <th>측정날짜</th>
            <th>측정시</th>
            <th>위치</th>
            <th>기온</th>
            <th>날씨</th>
            <th>낙뢰</th>
            <th>강수형태</th>
            <th>풍향</th>
            <th>풍속</th>
        </tr>
    <th:each="item
        <tr>

        </tr>
    </table>

</div>









<script>
    const weather = document.querySelector(".js-weather");

    const API_KEY = "32dfb5f4525c5b244a15ba405f09c370";//본인 API Key
    const COORDS = "coords";




    function getWeather(lat, lon) {
        fetch(`https://api.openweathermap.org/data/2.5/forecast?lat=${lat}&lon=${lon}&appid=${API_KEY}&units=metric`
        ).then(function(response){
            return response.json();
        }).then(function(json){                         //json으로 어느부분 가져올지
            const temperature = json.list[0].main.temp;
            const place = json.city.name;
            weather.innerText = `${temperature} @ ${place}`;
        });
    }

    function saveCoords(coordsObj){
        localStorage.setItem(COORDS, JSON.stringify(coordsObj));
    }

    function handleGeoSucces(position){
        const latitude = position.coords.latitude;
        const coordsObj = {
            latitude,
            longitude
        };
        saveCoords(coordsObj);
        getWeather(latitude,longitude);
    }

    function handleGeoError() {
        console.log("Cant access geo location");
    }

    function askForCoords() {
        navigator.geolocation.getCurrentPosition(handleGeoSucces,handleGeoError);
    }

    function loadCoords() {
        const loadedCoords = localStorage.getItem(COORDS);
        if(loadedCoords === null) {
            askForCoords();
        } else {
            const parsedCoords = JSON.parse(loadedCoords);
            getWeather(parsedCoords.latitude, parsedCoords.longitude);
        }
    }

    function init() {
        loadCoords();
    }

    init();

</script>


</html>