<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='Login'">

<div layout:fragment="content">
    <div class="container">
        <div class="py-5 text-center">

            <div class="py-5 text-center">
                <h4><b>Send Password change Email</b></h4>
                <p class="lead" style="color: black;">Enter the Email address send link.</p>
                <hr class="col-12 my-2">

                <div class="row g-10 justify-content-center">
                    <form class="needs-validation" name="loginForm" novalidate>
                        <div class="row g-3">
                            <div class="col-12">
                                <br/>
                                <input type="text" name="email" class="form-control" id="email" placeholder="you@example.com" aria-describedby="email_help_text" required>
                                <div class="invalid-feedback">필수 사항입니다.</div>
                                <small id ="email_help_text" class="form-text text-muted">
                                    가입 시 사용하신 이메일을 입력하세요.
                                </small>
                            </div>
                        </div>

                        <hr class="col-12 my-4">
                        <button class="w-100 btn btn-dark btn" id="findBtn" type="button">Send Email</button>
                    </form>
                </div>
            </div>

        </div>

    </div>
    <script>

        $(document).ready(function(){
            $("#findBtn").click(function(e){
                e.preventDefault();
                console.log('hihihi');
                $.ajax({
                    url : "/find-pw",
                    type : "POST",
                    data : {
                        email : $("#email").val()
                    },
                    success : function(result) {
                        alert(result);
                    },
                })
            });
        });


        //////////////////////////////////////////////////////
    </script>
</div>
<!--//email-->
<!--//////////////////////////////////////////////////////-->

</html>