<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="item_list(itemList)">
    <div class="row" style="text-align: center; margin-bottom: 100px;">
        <div th:each="item:${itemList}" class="col-sm-2 justify-content-center" style="text-align: center; margin: 50px;">
            <div class="component">
                <img id="component_img" th:src="${item.urls.get(0)}">
                <div id="component_info">
                    <p id="component_name" th:text="${item.name}"></p>
                    <hr>
                    <p id="component_name" th:text="${item.brand}"></p>
                    <p id="component_price">₩<span th:text="${#numbers.formatInteger(item.price, 3,'COMMA')}"></span></p>
                    <a th:href="@{/store/detail/{id}(id=${item.id})}" class="btn btn-light stretched-link">see more</a>
                </div>

            </div>

        </div>
    </div>
</div>
</html>